/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}
 input[type="text"] {
    border: 1px solid #ddd;
    padding: 8px;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background:#231F20; /* Fallback for when there is no custom background color defined. */ */
    /* font-family: 'Poppins', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #f36523;
}

a:visited {
	color: #f36523;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
	text-decoration:none;
}

/*--------------------------------------------------------------
## Font face
---------------------------------------------------------------*/
@font-face {
	font-family: 'Forte';
	src: url('../fonts/ForteMT.eot');
	src: url('../fonts/ForteMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ForteMT.woff') format('woff'),
		url('../fonts/ForteMT.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/*************************************************************
***************************Header Css*************************
**************************************************************/
#header {
    
    width: 100%;
    padding-top: 10px;
}
.slider-header {
    height: 521px;
    width: 100%;
    overflow: hidden;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-carousel .owl-item {
    float: left;
}
/* .header-banner { */
  /* min-height: 571px; */
  /* position: absolute; */
  /* width: 100%; */
/* } */
#header  .slider-desc {
  color: #fff;
  font-size: 13px;
  padding-top: 10px;
  text-align: justify;
}
#header .slider-image {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.header-banner #wp-custom-header > img {
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
  transform: none;
  width: 100%;
}
 h3.bloger-top-title, h4.bloger-top-title{
	 color:#f36523;
	 font-family: 'Forte';
	 }
#header .navbar-default {
  background:none!important;
  border:none!important;

}

#header .custom-logo-link {
  float: left;
  width: 100%;
}
#header .slider {
  display: block;
  padding-top: 82px;
}

#header .navbar {
  border: 1px solid transparent;
  margin-bottom: 0;
  min-height: 48px;
  padding-top: 0;
  position: relative;
}
#header .navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
}
#header h2 {
  color: #fff;
  font-family: "Montserrat",sans-serif;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 58px;
  text-transform: uppercase;
}
#header h3.bloger-top-title{
	 color:#f36523;
	 font-family: 'Forte'
 }

.filter-img {width:100%;height:auto;}
.slide-content {padding-top:50px;}
 
#header .btn.btn-warning {
  background: #f36523 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  top: 223px;
  z-index: 999;
}
/*=============================================================================**
Navigation Search icon css
=============================================================================**/
.form {
  display: inline-block;
  margin-top: 18px;
  position:relative;
}
.navbar-search {
  display: none;
  position: absolute;
}
/* fieldset { */
  /* float:right; */
    /* z-index: 99999; */
    /* border: 1px solid #e2e2e2; */
    /* height: 60px; */
    /* padding: 10px 10px; */
    /* position:relative; */
    /* top: 18px; */
	/* box-shadow:0px 3px 13px 0px rgba(0, 0, 0, 0.2); */
/* } */
.navbar-search fieldset {
    border: 1px solid #e2e2e2;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
    left: -165px;
    padding: 10px;
    position: absolute;
    top: 30px;
    width: 205px;
    z-index: 99999;
}
.btn.cllick-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  box-shadow: none;
  border:0px;
   margin-top: -6px;
  
}
.btn.cllick-btn:focus{
	outline:none;
}
.bloger-arrow-wrap {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    overflow: hidden;
	top:-20px;
}
.bloger-arrow {
    background-color: #ffffff;
    color: #e1e1e1;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 1px;
    border-style: solid;
}
.cllick{float:right}

.navbar-search .text {
right: 37px;
}

.navbar-search .text, .navbar-search .button {
  display: inline-block;
  float: left;
}
.navbar-search .text input {
  width: 144px;
  background-color: #fcfcfc;
  background-position: 97% center !important;
  background-size: 16px 16px !important;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  color: #808080;
  height: 36px;
  padding: 10px;
  
}
.navbar-search button:hover, .navbar-search button:focus {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-special {
  background: orange none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  height: 36px;
}
.button-wrap{margin:0 auto;}

/*****===============================================================**
Recent Post Section
=====================================================================**/
.filter-posts-area {
  /* border-top: 10px solid #f36523; */
  /* background: #fff none repeat */
}
.filter-posts-area .post-filter-border {
  margin-bottom: 40px;
  margin-top: 30px;
  min-height: 350px;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
  width: 100%;
}
.bloger-filter-head {
  /* background: #231f20 none repeat scroll 0 0; */
  padding-top: 30px;
}
.filter-posts-area .padding-bottom{padding-bottom:60px;}
.filter-posts-area h2 {
  color: #fff;
  font-family: montserrat;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -4px;
  margin-top: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.filter-posts-area .img-box{
	margin-top:-30px;
}

.filter-posts-area  .attachment-filter-slider {
  height: 180px;
  width: 100%;
}
.filter-posts-area .bloger-filter-title {
  background: #f36523 none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 13px;
  position: relative;
  text-transform: uppercase;
  z-index:999;
}
.filter-posts-area .border-before::before {
  border: 3px solid #e2e2e2;
  bottom: 66px;
  content: "";
  left: 0;
  margin: 0 17px;
  position: absolute;
  width: 96%;
  z-index: 1;
}
.filter-posts-area  h2.recent-post-title {
  color: #000;
  font-size: 26px;
  letter-spacing: 0;
}
.filter-posts-area .latest-post-desc {
  color: #6d6e71;
  font-size: 17px;
  line-height: 24px;
  text-align: justify;
}
.filter-posts-area .filter-post-title a {
  color: #231f20;
  font-family: montserrat;
  font-size: 24px;
}
.filter-posts-area .filter-post-title a:hover{color: #F36523;}
.filter-posts-area .post-info {
  color: #6d6e71;
  font-size: 14px;
  padding-top: 10px;
}

.filter-posts-area .post-filter-border::before {
  background: rgba(0, 0, 0, 0) url("../img/bdr.png") repeat scroll 0 0;
  content: "";
  height: 10px;
  left: 0;
  margin-left: 12px;
  position: absolute;
  top: 0;
  width: 97.5%;
}
.filter-posts-area .post-filter-border::after {
  background: rgba(0, 0, 0, 0) url("../img/bdr.png") repeat scroll 0 0;
  content: "";
  height: 10px;
  left: 0;
  margin-left: 12px;
  position: absolute;
  bottom:0;
  width: 97.5%;
}
.filter-posts-area .post-filter-border .owl-pagination {
  display: none;
}
/*=============================================================================**
No result page search
=============================================================================**/
.page-content .site-search {
  border-radius: 0;
  height: 52px;
  margin: 0;
  padding: 5px;
  width: 80%;
}
.page-content .sidebar-search {
  background: #F36523;
  border: 0 none;
  border-radius: 0;
  font-size: 14px;
  padding: 19px 50px;
  color: #fff;
  box-shadow: none;
}

/*=============================================================================**
Comments css
=============================================================================**/

.comment-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
    width: 20%;
}
.comment-form input {
    width: 100%;
    height: 35px;
}
.comment-form input#submit {
  background: #f36523 none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  color: #fff;
  font-size: 15px;
  padding: 5px 15px;
  width: auto;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/*=============================================================================**
Footer css
=============================================================================**/


footer.footer-area {
  background: #000 none repeat scroll 0 0;
}

footer.footer-area ul {
  margin: 0;
  padding-left: 0;
}
.footer-nav li {
  display: inline-block;
  padding: 10px 10px;
}
.footer-nav li  a{
	color:#fff;
}
.footer-social{float:right;}
.footer-social li{
  display: inline-block;
   padding: 10px 10px;
 
}
.footer-social a {
  color: #fff;
}
.site-footer{background:#231F20}
.site-footer .site-info {
  color: #fff;
  padding: 20px;
  text-align: center;
}
.site-footer  .site-info > a {
  color: #f26522;
  font-size: 12px;
}

/*--------------------------------------------------------------
## Content section
--------------------------------------------------------------*/

.site-content {
    /* padding: 4% 6.546%;  */
     background: #fff; 
}
.site-content .page-header {
    padding-bottom: 9px;
    margin: 0px 0 30px;
    border-bottom: 1px solid #eee;
}
.page-header h1.entry-title {
  color: #f36523;
  font-family: Montserrat;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 25px;
  text-transform: uppercase;
}

.site-content .posted-on i, .byline-author i, .comments-link i {
    padding-right: 5px;
}
.site-content .cat-links a, .gallery-cat, .tags-links a {
  background: #f36523 none repeat scroll 0 0;
  color: #fff;
  font-size: 10px;
  margin-right: 6px;
  padding: 3px 10px;
  text-decoration: none;
}
.site-content .cat-links a:hover, .gallery-cat, .tags-links a:hover{
 background:#FFA500;
}
.site-content .posted-on, .byline-author, .comments-link {
  font-size: 14px;
  margin-right: 8px;
}
.site-content  .posted-on a, .byline-author a, .comments-link a {
  text-decoration: none;
  color:#505050;
}
/* .site-content .readmore-btn { */
  /* background: #f36523 none repeat scroll 0 0; */
  /* color: #fff ; */
  /* cursor: pointer; */
  /* display: block; */
  /* font-size: 22px; */
  /* margin: 30px 0; */
  /* padding: 7px; */
  /* position: relative; */
  /* text-align: center; */
  /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); */
  /* vertical-align: top; */
  /* width: 156px; */
/* } */
.site-content .readmore-btn {
  border: 1px solid #e2e2e2;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  margin: 30px 0;
  padding: 3px 16px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  vertical-align: top;
  width: auto;
}
.site-content .readmore-btn:hover{
 background:#FFA500;
 color:#fff;
text-decoration:none; 
}
.site-content .single-img-inner{
	margin-bottom:30px;
}
.site-content .single-title h1 {
    font-size: 35px;
    margin: 0 0 0.9em;
}
/*--------------------------------------------------------------
## Revulation slider  css
--------------------------------------------------------------*/

/* .rev_slider_wrapper{ */
	/* background:none!important; */
/* } */
/* .tp-bannershadow.tp-shadow2 { */
  /* box-shadow: none !important; */
  /* background: none!important; */
/* } */
/* .tp-bullets.hidebullets.hovered { */
  /* opacity: 1; */
  /* display: none!important; */
/* } */
/* .tp-bullets.simplebullets.round .bullet { */
  /* background: none !important; */
  /* cursor: pointer; */
  /* float: left; */
  /* height: 20px; */
  /* margin-left: 3px; */
  /* margin-right: 0; */
  /* margin-top: 0; */
  /* position: relative; */
  /* width: 20px; */
/* } */
/*--------------------------------------------------------------
## Post Navigation by number css
--------------------------------------------------------------*/
.bloger-post-navigation {
  margin: 0 auto;
  text-align: center;
}
.bloger-post-navigation li a,
.bloger-post-navigation li a:hover,
.bloger-post-navigation li.active a,
.bloger-post-navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.bloger-post-navigation li {
	display: inline;
}

.bloger-post-navigation li a, .bloger-post-navigation li a:hover, .bloger-post-navigation li.active a, .bloger-post-navigation li.disabled {
  background-color: #f36523;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 10px;
}
.bloger-post-navigation li a:hover,
.bloger-post-navigation li.active a {
	background-color: #ffa500;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*=============================================================================**
sidebar with search css
=============================================================================**/
aside {
  padding: 10px;
 
}
aside .sidebar-section{
	padding-bottom:20px;
}
aside .sidebar-inner .sidebar-section ul {
  list-style: outside none none;
  margin: 0;
  padding-left: 0px;
  width: 100%;
}
aside .sidebar-inner .sidebar-section ul li {
  border-bottom: 1px solid #e2e2e2;
  font-size: 13px;
  padding: 10px 0;
}
aside .sidebar-inner .sidebar-section ul li a{
	color:#000;
}
aside .sidebar-inner .sidebar-section ul li:last-child{
	border:0px;
}
aside .search-inner{
	padding:10px;
	 border:1px solid #e2e2e2;
 
}
aside .site-search {
  border-radius: 0;
  height: 40px;
  width: 76%;
  
}
aside .sidebar-search {
  background: #F36523;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 40px;
  margin-top: 0;
  padding: 6px 31px;
  box-shadow: none;
}
aside h2.widget-title{
	font-size:16px;
	text-align:left;
	font-weight: 600;
	color:#F36523;
	
}
aside .sidbar-head :before {
  background: #F36523;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: -4px;
  width: 50%;
}

aside .sidbar-head {
    margin: 0;
	position:relative;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    margin-top: 1px;
    text-align: center;
    position: relative;
    border-top: 4px solid #111;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
